include  ../../users/dashboard
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Profil
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .box.box-info
                            .box-header.with-border
                                h3.box-title Input data Profil
                            // /.box-header
                            // form start
                            form.form-horizontal(method="POST", action='/'+profils._id + '/editprofil')
                                .box-body
                                    .form-group
                                        label.col-sm-2.control-label(for='npm') Npm
                                        .col-sm-10
                                            input#npm.form-control(type='text' required name="npm" placeholder='Npm' value= (npm == undefined) ? profils.npm: npm)
                                    .form-group
                                        label.col-sm-2.control-label(for='nama') Nama
                                        .col-sm-10
                                            input#nama.form-control(type='text' name="nama" placeholder='Nama' value= (nama == undefined) ? profils.nama: nama)
                                    .form-group
                                        label.col-sm-2.control-label(for='alamat') Alamat
                                        .col-sm-10
                                            input#alamat.form-control(type='text' name="alamat" placeholder='Alamat' value= (alamat == undefined) ? profils.alamat: alamat)
                                    .form-group
                                        label.col-sm-2.control-label(for='ttl') Ttl
                                        .col-sm-10
                                            input#ttl.form-control(type='text' name="ttl" placeholder='Ttl' value= (ttl == undefined) ? profils.ttl: ttl)
                                    .form-group
                                        label.col-sm-2.control-label(for='jenis_kelamin') Jenis Kelamin
                                        .col-sm-10
                                            input#jenis_kelamin.form-control(type='text' name="jenis_kelamin" placeholder='Jenis Kelamin' value= (jenis_kelamin == undefined) ? profils.jenis_kelamin: jenis_kelamin)


                                // /.box-body
                                .box-footer
                                    button.btn.btn-info.pull-right(type='submit') Input Data
                                // /.box-footer
